.app-translations-scroller-viewport {
    height: 1000%;
    width: 100%;
}

.app-translations-container {
    display: grid;
    grid-auto-rows: 60px;
    grid-gap: 10px;
    width: 100%;
}

.app-translations-header-locale-icon {
    top: -1px;
}

.app-scroller-spread-row {
    grid-column: 1 / 4;
}

.app-translations-bundle-key-column {
    margin: auto auto auto 0;
}

.app-translations-bundle-key-column div {
    white-space: nowrap;
    width: calc(250px - 20px);
    overflow: hidden;
    text-overflow: ellipsis;
}
