<cdk-virtual-scroll-viewport [itemSize]="20" class="app-translations-scroller-viewport" *ngIf="searchRequest">
    <div class="app-translations-container"
         [ngStyle]="{'grid-template-columns': '230px repeat(' + (searchRequest.locales.length) + ', 1fr)'}">
        <div class="app-translations-header app-scroller-cell">
            <span class="app-icon-key-solid app-translations-header-icon"></span>
            <b>{{'TRANSLATIONS.TABLE.KEY_COLUMN' | translate}}</b>
        </div>
        <div *ngFor="let locale of searchRequest.locales" class="app-translations-header app-scroller-cell">
            <span [class]="locale | translationLocaleIcon" class="app-translations-header-icon"></span>
            <b>{{locale.displayName}}</b>
        </div>

        <ng-container *cdkVirtualFor="let rowForm of dataSource; let rowIndex = index">
            <ng-container [ngSwitch]="dataSource.getRowType(rowForm)">
                <div class="app-scroller-spread-row app-scroller-cell app-translations-workspace-row" *ngSwitchCase="RowType.WORKSPACE">
                    <app-translations-workspace-row [workspace]="dataSource.getWorkspace(rowForm)"></app-translations-workspace-row>
                </div>
                <div class="app-scroller-spread-row app-scroller-cell app-translations-bundle-file-row" *ngSwitchCase="RowType.BUNDLE_FILE">
                    <app-translations-bundle-file-row [workspaceId]="dataSource.getWorkspace(rowForm)"
                                                      [bundleFileId]="dataSource.getBundleFile(rowForm)">
                    </app-translations-bundle-file-row>
                </div>
                <ng-container *ngSwitchCase="RowType.BUNDLE_KEY">
                    <div class="app-translations-bundle-key-column app-scroller-cell">
                        <div class="app-translations-bundle-key-column-inner"
                             [matTooltip]="dataSource.getRowBundleKey(rowForm)"
                             [matTooltipPosition]="'right'"
                             matTooltipClass="app-translations-bundle-key-tooltip">
                            {{dataSource.getRowBundleKey(rowForm)}}
                        </div>
                    </div>

                    <div *ngFor="let cellForm of dataSource.getRowTranslations(rowForm); let columnIndex = index; trackBy: trackByFn.bind(this, rowIndex)"
                         class="app-translations-translation-column app-scroller-cell">
                        <app-translation-editing-cell [form]="cellForm"></app-translation-editing-cell>
                    </div>
                </ng-container>
            </ng-container>
        </ng-container>
    </div>
</cdk-virtual-scroll-viewport>

<div class="app-translations-loading" *ngIf="actionInProgress">
    <mat-spinner [diameter]="30"></mat-spinner>
</div>
