@use '@angular/material' as mat;
@import 'variables';

.status-warning {
  color: mat.get-color-from-palette($color-warning);
}

.status-error {
  color: mat.get-color-from-palette($color-error);
}

.status-danger {
  color: mat.get-color-from-palette($color-error);
}

.status-success {
  color: mat.get-color-from-palette($color-success);
}

.status-progress {
  color: mat.get-color-from-palette($color-warning);
}
