@import "./variables.scss";

.dragAndDropZone {
  cursor: default;
  margin: 20px auto;
  border: 1px dashed mat-color($color-primary);
  border-radius: 10px;
}

.dragAndDropZoneOver {
  cursor: pointer;
  border: 1px solid mat-color($color-accent);
  opacity: 0.6;
}

.dragAndDropZoneNotAllowed {
  cursor: not-allowed;
}
