@import '~@angular/material/theming';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@include mat-core();

$color-primary: mat-palette($mat-indigo);
$color-accent: mat-palette($mat-purple);
$color-success: mat-palette($mat-green);
$color-warning: mat-palette($mat-orange);
$color-hover: mat-palette($mat-gray, 50);

$button-normal-size: 24px;
$button-xlarge-size: 100px;
