@use '@angular/material' as mat;
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@include mat.core();

$color-primary: mat.define-palette(mat.$indigo-palette);
$color-accent: mat.define-palette(mat.$purple-palette);
$color-success: mat.define-palette(mat.$green-palette);
$color-warning: mat.define-palette(mat.$orange-palette);
$color-error: mat.define-palette(mat.$red-palette);
$color-hover: mat.define-palette(mat.$gray-palette, 50);
$color-dark-bg: darken(mat.get-color-from-palette($color-hover), 10);

$button-normal-size: 24px;
$button-xlarge-size: 100px;

$tool-bar-width: 300px;
$tool-bar-icons-width: 50px;

$main-container-padding: 30px;