$app-menu-z-index: 11;
$app-menu-backdrop-z-index: 10;
$app-tool-bar-z-index: 10;

$app-translations-search-bar-z-index: 6;
$app-table-header-z-index: 5;
$app-add-button-z-index: 3;

$app-top-z-index: 99999 !important;