.add-button {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: 20px;
}

.add-button:hover {
  opacity: 0.9;
}

.add-button .mat-icon {
  margin-top: -16px;
  margin-left: -6px;
  font-size: 40px;
}
