<app-row-actions [actionsVisible]="!loading">
  <app-row-actions-element>
    <h3>
      {{ name }} <span [class]="badgeClass">{{ badgeText | translate }}</span>
    </h3>
  </app-row-actions-element>
  <app-row-actions-item>
    <app-git-hub-link-button [link]="workspaceGitHubLink" *ngIf="workspaceGitHubLink"></app-git-hub-link-button>
    <app-git-hub-link-button [link]="prGitHubLink" *ngIf="prGitHubLink"></app-git-hub-link-button>

    <app-form-delete-button (delete)="onDelete()" [deleteInProgress]="deleteInProgress"></app-form-delete-button>

    <app-sync-button
      (sync)="onSynchronize()"
      [syncInProgress]="syncInProgress"
      *hasRepositoryAccess="node.repository.id; additionalCondition: syncAllowed"
    >
    </app-sync-button>

    <app-download-button
      (download)="onInitialize()"
      [initInProgress]="initializationInProgress"
      *hasRepositoryAccess="node.repository.id; additionalCondition: initializationAllowed"
    >
    </app-download-button>
  </app-row-actions-item>
</app-row-actions>
