app-translations-search-bar {
    position: absolute;
    z-index: 1;
    width: calc(100% - 60px);
    top: 20px;
}

app-translations-table {
    height: calc(100vh - 110px);
    width: 100%;
    position: absolute;
    top: 110px;
}
