.container {
    height: 100%;
    display: grid;
    grid-template-rows: 48px 1fr auto;
    grid-gap: 16px;
}

main {
    z-index: 0;
    overflow-y: auto;
}

footer {
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: -10px;
}

header {
    z-index: 10;
}

app-translations-search-bar {
    width: calc(100% - 60px);
    background: white;
}

app-translations-table {
    width: 100%;
}
