<app-translations-search-bar (searchRequestChange)="onSearchRequestChange($event)"></app-translations-search-bar>

<div *ngIf="isWorkspaceNotInitialized()" class="container">
    <p>The workspace is initializing, please wait.</p>
    <img src="assets/scanning.gif" alt="Initializing workspace"/>
</div>

<div *ngIf="isRepositoryNotInitialized()" class="container">
    <div>no workspace please initialize</div>
</div>

<div *ngIf="isWorkspaceInitialized()" class="container">
    <div>initialized</div>

    {{searchRequest.workspace != null ? searchRequest.workspace.branch : null}}
</div>

<div *ngIf="isWorkspaceInReview()" class="container">
    <div>in review</div>
</div>

<!--
https://stackblitz.com/edit/angular-mattable-with-groupheader?file=app/table-basic-example.html
-->
