.action {
    text-align: center;
}

:host /deep/ .mat-card-header-text {
    width: 100%;
    text-align: center;
}

:host /deep/ table {
    width: 100%;
}

:host /deep/ .mat-form-field {
    width: calc(100% - 15px);
}