<mat-card class="card">
    <mat-card-header>
        <mat-card-title><i class="fas fa-user-lock"></i> User Password</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="form" class="form" (ngSubmit)="login()">
            <table cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="username-field">
                            <input matInput
                                   placeholder="Username"
                                   formControlName="username"
                                   name="username" required
                                   autocomplete="username">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="password-field">
                            <input matInput
                                   placeholder="Password"
                                   formControlName="password"
                                   type="password"
                                   name="password"
                                   required
                                   autocomplete="current-password">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-error *ngIf="form.errors && form.errors['authFailed']">
                            <strong>Invalid credentials</strong>
                        </mat-error>
                    </td>
                </tr>
            </table>
        </form>
    </mat-card-content>
    <mat-card-actions class="action">
        <mat-spinner-button (btnClick)="login()" [options]="buttonOptions" id="authUserPasswordLogin"></mat-spinner-button>
    </mat-card-actions>
</mat-card>