.action {
  text-align: center;
}

:host ::ng-deep .mat-card-header-text {
  width: 100%;
  text-align: center;
}

:host ::ng-deep table {
  width: 100%;
}

:host ::ng-deep .mat-form-field {
  width: calc(100% - 15px);
}
