<app-card [title]="title"
          [headerClassIcon]="iconClass"
          [maxSizePx]="270">
    <app-card-content>
        <form [formGroup]="form" (ngSubmit)="onSave()">
            <p>
                <mat-form-field appearance="standard">
                    <mat-label>{{'ADMIN.LOCALES.DISPLAY_NAME' | translate}}</mat-label>
                    <input matInput formControlName="displayName">
                    <mat-hint>{{'ADMIN.LOCALES.DISPLAY_NAME_EXAMPLE' | translate}}</mat-hint>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="standard">
                    <mat-label>{{'ADMIN.LOCALES.LANGUAGE' | translate}}</mat-label>
                    <input matInput formControlName="language">
                    <mat-hint>
                        {{'ADMIN.LOCALES.LANGUAGE_EXAMPLE' | translate}}
                        <a href="https://tools.ietf.org/html/bcp47#section-2.2.1" target="_blank">
                            <mat-icon class="help">help_outline</mat-icon>
                        </a>
                    </mat-hint>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="standard">
                    <mat-label>{{'ADMIN.LOCALES.REGION' | translate}}</mat-label>
                    <input matInput formControlName="region">
                    <mat-hint>
                        {{'ADMIN.LOCALES.REGION_EXAMPLE' | translate}}
                        <a href="https://tools.ietf.org/html/bcp47#section-2.2.4" target="_blank">
                            <mat-icon class="help">help_outline</mat-icon>
                        </a>
                    </mat-hint>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="standard">
                    <mat-label>{{'ADMIN.LOCALES.VARIANTS' | translate}}</mat-label>
                    <input matInput formControlName="variants">
                    <mat-hint>
                        {{'ADMIN.LOCALES.VARIANTS_EXAMPLE' | translate}}
                        <a href="https://tools.ietf.org/html/bcp47#section-2.2.5" target="_blank">
                            <mat-icon class="help">help_outline</mat-icon>
                        </a>
                    </mat-hint>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="standard" class="field-icon">
                    <mat-label>{{'ADMIN.LOCALES.ICON' | translate}}</mat-label>
                    <span matPrefix [class]="iconClass"></span>
                    <input matInput formControlName="icon">
                    <mat-hint>
                        {{'ADMIN.LOCALES.ICON_EXAMPLE' | translate}}
                        <a href="https://github.com/lipis/flag-icon-css/tree/master/flags/1x1" target="_blank">
                            <mat-icon class="help">help_outline</mat-icon>
                        </a>.
                    </mat-hint>
                </mat-form-field>
            </p>
        </form>
    </app-card-content>
    <app-card-actions>
        <app-form-cancel-button [form]="form" [cancelInProgress]="loading" (reset)="resetForm()"></app-form-cancel-button>
        <app-form-delete-button [loading]="loading" (delete)="onDelete()"></app-form-delete-button>
        <app-form-save-button [form]="form" [saveInProgress]="loading" (save)="onSave()"></app-form-save-button>
    </app-card-actions>
</app-card>
