<mat-card>
    <mat-card-header>
        <mat-card-title><span mat-card-image [class]="iconClass"></span> {{title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSave()">
            <p>
                <mat-form-field appearance="standard">
                    <mat-label>{{'ADMIN.LOCALES.DISPLAY_NAME' | translate}}</mat-label>
                    <input matInput formControlName="displayName">
                    <mat-hint>{{'ADMIN.LOCALES.DISPLAY_NAME_EXAMPLE' | translate}}</mat-hint>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="standard">
                    <mat-label>{{'ADMIN.LOCALES.LANGUAGE' | translate}}</mat-label>
                    <input matInput formControlName="language">
                    <mat-hint>
                        {{'ADMIN.LOCALES.LANGUAGE_EXAMPLE' | translate}}
                        <a href="https://tools.ietf.org/html/bcp47#section-2.2.1" target="_blank"><mat-icon class="help">help_outline</mat-icon></a>
                    </mat-hint>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="standard">
                    <mat-label>{{'ADMIN.LOCALES.REGION' | translate}}</mat-label>
                    <input matInput formControlName="region">
                    <mat-hint>
                        {{'ADMIN.LOCALES.REGION_EXAMPLE' | translate}}
                        <a href="https://tools.ietf.org/html/bcp47#section-2.2.4" target="_blank"><mat-icon class="help">help_outline</mat-icon></a>
                    </mat-hint>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="standard">
                    <mat-label>{{'ADMIN.LOCALES.VARIANTS' | translate}}</mat-label>
                    <input matInput formControlName="variants">
                    <mat-hint>
                        {{'ADMIN.LOCALES.VARIANTS_EXAMPLE' | translate}}
                        <a href="https://tools.ietf.org/html/bcp47#section-2.2.5" target="_blank"><mat-icon class="help">help_outline</mat-icon></a>
                    </mat-hint>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="standard" class="field-icon">
                    <mat-label>{{'ADMIN.LOCALES.ICON' | translate}}</mat-label>
                    <span matPrefix [class]="iconClass"></span>
                    <input matInput formControlName="icon">
                    <mat-hint>
                        {{'ADMIN.LOCALES.ICON_EXAMPLE' | translate}}
                        <a href="https://github.com/lipis/flag-icon-css/tree/master/flags/1x1" target="_blank"><mat-icon class="help">help_outline</mat-icon></a>.
                    </mat-hint>
                </mat-form-field>
            </p>
        </form>
    </mat-card-content>
    <mat-card-actions [align]="'end'">
        <button mat-icon-button
                color="warn"
                [disabled]="!form.dirty || loading"
                (click)="resetForm()">
            <mat-icon>settings_backup_restore</mat-icon>
        </button>
        <button mat-icon-button
                color="primary"
                [disabled]="!form.valid || !form.dirty || loading"
                (click)="onSave()"
                [class.spinner]="loading">
            <mat-icon>save</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>
