<mat-form-field >
    <mat-label>Workspace:</mat-label>

    <mat-select [formControl]="workspaceForm" required>
        <mat-select-trigger>
            <mat-icon *ngIf="workspaceForm.value != null" class="icon-selection">label</mat-icon>
            {{workspaceForm.value != null ? workspaceForm.value.branch : null}}
        </mat-select-trigger>

        <mat-option *ngFor="let workspace of (workspaces | async)" [value]="workspace">
            <mat-icon>label</mat-icon>

            {{workspace.branch}}

            <mat-icon [ngClass]="workspace | workspaceIconCss">{{workspace|workspaceIcon}}</mat-icon>
        </mat-option>
    </mat-select>
</mat-form-field>