<mat-card class="card">
    <mat-card-header>
        <mat-card-title><i class="fas fa-key"></i> GitHub Auth Key</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="form" class="form" (ngSubmit)="login()">
            <table cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="auth-key-field">
                            <input matInput placeholder="Auth. Key" formControlName="authkey" id="authKey" required>
                        </mat-form-field>
                        <a (click)="paste()"><i class="fas fa-paste"></i></a>
                        <mat-error *ngIf="form.errors && form.errors['authFailed']">
                            <strong>Invalid credentials</strong>
                        </mat-error>
                    </td>
                </tr>
            </table>
        </form>
    </mat-card-content>
    <mat-card-actions class="action">
        <mat-spinner-button (btnClick)="login()" [options]="buttonOptions" id="authKeyLogin"></mat-spinner-button>
    </mat-card-actions>
</mat-card>