@import 'variables';

.app-dictionary-container {
  height: calc(100% - $main-container-padding - 10px);
  display: grid;
  grid-template-rows: 1fr auto;
  grid-gap: 16px;

  main {
    overflow-y: auto;
  }

  footer {
  }
}
