textarea {
    overflow: hidden;
}

.mat-form-field textarea {
    padding-left: 5px;
}

.textarea {
    border-left: solid 3px;
}

@keyframes editing {
    from {
        border-left-style: solid;
    }
    to {
        border-left-style: dotted;
    }
}

.info {
    margin-left: 15px;
}
