commands:
  01clear-if-unmounted:
    command: if ! mount | grep /media/ebs_volume > /dev/nul; then rm -rf /media/ebs_volume; fi
  02attach-volume:
    command: aws ec2 attach-volume --region eu-central-1 --volume-id ${VOLUME_ID} --instance-id $(curl -s http://169.254.169.254/latest/meta-data/instance-id) --device /dev/sdh
    ignoreErrors: true
  03wait:
    command: sleep 10
  04trymount:
    command: |
      mkdir /media/ebs_volume
      mount /dev/sdh /media/ebs_volume
    ignoreErrors: true
  05format-if-not-already:
    command: if find /media/ebs_volume/ -maxdepth 0 -empty | read v; then mkfs -t ext3 /dev/sdh; fi
  06mount-volume:
    command: |
      mkdir /media/ebs_volume
      mount -a /dev/sdh /media/ebs_volume
