.list {
  max-height: 600px;
  overflow: auto;
}

.item {
  font-weight: bold;
}

.item-white {
  color: white !important;
}

.item-bullet {
  color: red;
  font-weight: normal;
}

.item:hover .item-bullet-white {
  color: white;
}

.item:hover .item-bullet-dark {
  color: black;
}
