.snack-container {
    display: flex;
    align-items: center;
}

.snack-container .info {
    color: white;
}

.snack-container .warning {
    color: red;
}

.snack-container .text {
    margin-left: 15px;
    color: white;
    font-weight: bold;
}
