<app-card [maxSizePx]="700" [title]="'ADMIN.REPOSITORIES.DETAILS_CARD.CARD_TITLE' | translate" [headerMatIcon]="'sources'">
    <app-card-header-actions>
        <app-sync-button *ngIf="repository.status === RepositoryStatus.INITIALIZED"></app-sync-button>
    </app-card-header-actions>
    <app-card-content>
        <div style="margin-top: 20px">
            <div *ngIf="repository.status === RepositoryStatus.NOT_INITIALIZED">
                <div class="app-centered-container">
                    <div class="app-centered-container-child">
                        <div class="app-centered-container-item">
                            <app-init-download-button (init)="onInitialize()"
                                                      [initInProgress]="initInProgress"
                                                      [buttonClass]="'xlarge'">
                            </app-init-download-button>
                        </div>
                        <div class="app-centered-container-item" *ngIf="!initInProgress">
                            {{'ADMIN.REPOSITORIES.DETAILS_CARD.PLEASE_INITIALIZE' | translate }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </app-card-content>
    <app-card-actions>
    </app-card-actions>
</app-card>
