<form [formGroup]="form">
  <app-dialog
    [title]="'ADMIN.REPOSITORIES.CONFIG_CARD.TRANSLATIONS_CONFIG_POPUP.TITLE' | translate"
    [dialogHeight]="'400px'"
    [dialogWidth]="'500px'"
  >
    <app-dialog-content>
      <ng-container *ngIf="!failed">
        <app-tabs>
          <app-tab [title]="'Global'">
            <app-repository-details-translations-global-configuration
              [form]="globalForm"
              [translationsConfiguration]="repository.translationsConfiguration"
            >
            </app-repository-details-translations-global-configuration>
          </app-tab>
          <app-tab [title]="'Java Properties'">
            <app-repository-details-translations-bundle-configuration
              [form]="javaPropertiesForm"
              [bundleConfiguration]="repository.translationsConfiguration.javaPropertiesConfiguration"
            >
            </app-repository-details-translations-bundle-configuration>
          </app-tab>
          <app-tab [title]="'JSON'">
            <app-repository-details-translations-bundle-configuration
              [form]="jsonIcuForm"
              [bundleConfiguration]="repository.translationsConfiguration.jsonConfiguration"
            >
            </app-repository-details-translations-bundle-configuration>
          </app-tab>
        </app-tabs>
      </ng-container>

      <div *ngIf="unknownError">
        <p>{{ 'ADMIN.REPOSITORIES.CONFIG_CARD.TRANSLATIONS_CONFIG_POPUP.UNKNOWN_ERROR' | translate }}</p>
      </div>
      <div *ngIf="errorMessages">
        <p>{{ 'ADMIN.REPOSITORIES.CONFIG_CARD.TRANSLATIONS_CONFIG_POPUP.ERROR_TITLE' | translate }}</p>
        <app-error-message-list [errorMessages]="errorMessages"></app-error-message-list>
      </div>
    </app-dialog-content>
    <app-dialog-actions>
      <app-form-save-button [form]="form" [saveInProgress]="saveInProgress" (save)="onSave()" *ngIf="!failed">
      </app-form-save-button>

      <app-backward-button (click)="onGoBack()" *ngIf="failed"></app-backward-button>
    </app-dialog-actions>
  </app-dialog>
</form>
