@font-face {
    font-family: "app-icons";
    src: url("./app-icons.eot?8edd59bb87670b553d80a042fab25d0c?#iefix") format("embedded-opentype"),
url("./app-icons.woff2?8edd59bb87670b553d80a042fab25d0c") format("woff2"),
url("./app-icons.woff?8edd59bb87670b553d80a042fab25d0c") format("woff"),
url("./app-icons.ttf?8edd59bb87670b553d80a042fab25d0c") format("truetype"),
url("./app-icons.svg?8edd59bb87670b553d80a042fab25d0c#app-icons") format("svg");
}

*[class^="app-icon-"]:before, *[class*=" app-icon-"]:before {
    font-family: app-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app-icon-check-double-solid:before {
    content: "\f101";
}
.app-icon-git:before {
    content: "\f102";
}
.app-icon-github:before {
    content: "\f103";
}
.app-icon-google:before {
    content: "\f104";
}
.app-icon-java-file:before {
    content: "\f105";
}
.app-icon-json-file:before {
    content: "\f106";
}
