tr.user-detail-row {
    height: 0;
}

.expanded-user-detail-row {
}

.user-detail-row-element {
    padding: 20px;
    overflow: hidden;
    display: flex;
}

.mat-column-name {
    width: 350px !important;
    max-width: 350px !important;
}

.mat-column-info {
    width: 60px !important;
    max-width: 60px !important;
    display:flex !important;
    justify-content:flex-end!important;
    padding-right: 5px;
}

.mat-column-action {
    max-width: 60px !important;
}

.mat-column-action .mat-button {
    min-width: 30px;
    padding: 0 5px;
}

.profile-img {
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
}