<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Search &nbsp;
            <b>missing translations</b> &nbsp;
            on &nbsp;
            <b>master</b> &nbsp;
            in &nbsp;
            <span class="flag-icon flag-icon-fr"></span> FR, &nbsp;
            <span class="flag-icon flag-icon-gb"></span> EN.
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
    </mat-expansion-panel-header>


    <div class="container">
        <app-workspace-selector (selectedWorkspace)="onSelectedWorkspace($event)"></app-workspace-selector>

        <app-translation-locales-selector
                (selectedLocales)="onSelectedLocales($event)"></app-translation-locales-selector>

        <div>
            <app-translation-flag-selector></app-translation-flag-selector>
        </div>

        <div>
            <button mat-raised-button><i class="fas fa-search"></i> Search</button>
        </div>
    </div>
</mat-expansion-panel>