<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            <div [innerHTML]="title()"></div>
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
    </mat-expansion-panel-header>


    <div class="container">
        <app-workspace-selector (valueChange)="onSelectedWorkspace($event)"></app-workspace-selector>

        <app-translation-locales-selector (valueChange)="onSelectedLocales($event)"></app-translation-locales-selector>

        <div>
            <app-translation-criterion-selector (valueChange)="onSelectedCriterion($event)"></app-translation-criterion-selector>
        </div>

        <div>
            <button mat-raised-button (click)="onSearch()" [disabled]="!isFullyLoaded()" ]><i class="fas fa-search"></i> Search</button>
        </div>
    </div>
</mat-expansion-panel>
