<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon">close</mat-icon>
</button>

<div mat-dialog-content>
    <app-wizard [form]="form" (stepChange)="onStepChange($event)" #wizard>
        <app-wizard-step [form]="stepTypeForm"
                         [name]="'ADMIN.REPOSITORIES.ADD_WIZARD.STEPS.SELECTION' | translate"
                         [editable]="stepTypeEditable"
                         [previousVisible]="false"
                         [nextVisible]="false">
            <app-repository-add-wizard-step-type [form]="stepTypeForm"
                                                 (repositoryTypeChange)="onRepositoryType($event)">
            </app-repository-add-wizard-step-type>
        </app-wizard-step>

        <app-wizard-step [form]="stepConfigForm"
                         [name]="'ADMIN.REPOSITORIES.ADD_WIZARD.STEPS.CONFIGURATION' | translate"
                         [editable]="stepConfigEditable">
            <app-repository-add-wizard-step-info [form]="stepConfigForm"
                                                 [repositoryType]="repositoryType">
            </app-repository-add-wizard-step-info>
        </app-wizard-step>

        <app-wizard-step [form]="stepCreationForm"
                         [name]="'ADMIN.REPOSITORIES.ADD_WIZARD.STEPS.CREATION' | translate"
                         [editable]="stepCreationEditable">
            <app-repository-add-wizard-step-creation
                    [form]="stepCreationForm"
                    [creationRequest]="creationRequest">
            </app-repository-add-wizard-step-creation>
        </app-wizard-step>

        <app-wizard-step [form]="stepInitializationForm"
                         [name]="'ADMIN.REPOSITORIES.ADD_WIZARD.STEPS.INITIALIZATION' | translate"
                         [previousVisible]="false">
            <app-repository-add-wizard-step-initialization></app-repository-add-wizard-step-initialization>
        </app-wizard-step>
    </app-wizard>
</div>
