@import "../../../../front/src/main/web/src/css/variables";

:host ::ng-deep .app-table-action {
  visibility: hidden;
}

:host ::ng-deep .app-table-action {
  margin: 2px;
}

.mat-row:hover {
  background-color: mat-color($color-hover);
}

:host ::ng-deep .mat-row:hover {
  .app-table-action {
    visibility: visible;
  }
}

.mat-cell {
  padding: 5px 10px 5px 0;
}