<div class="app-table mat-elevation-z8"
     [style.grid-template-columns]="tableStyle"
     *ngIf="headers && cells">

    <ng-container *ngFor="let column of displayedColumns; let i = index">
        <div [ngClass]="'app-table-column-' + column"
             class="app-table-cell app-table-cell-header">
            <ng-container *ngTemplateOutlet="getHeaderTemplate(column)"></ng-container>
        </div>
    </ng-container>

    <ng-container *ngFor="let element of dataSource.data">
        <ng-container *ngFor="let column of displayedColumns; let i = index">
            <div [ngClass]="[('app-table-column-' + column), 'app-table-cell', 'app-table-cell-element']"
                 [class.app-table-cell-expandable]="hasExpandedRow"
                 [class.app-table-cell-expanded]="element === expandedElement"
                 [class.app-table-cell-non-expanded]="element !== expandedElement"
                 [class.app-table-cell-hover]="element === hoveredElement"
                 [class.app-table-cell-non-hover]="element !== hoveredElement"
                 (mouseover)="onMouseOver(element)"
                 (mouseleave)="onMouseLeave(element)"
                 (click)="onToggleExpand(element)">
                <ng-container *ngTemplateOutlet="getCellTemplate(column); context: {element: element}"></ng-container>
            </div>
        </ng-container>

        <div [class.app-table-cell-details-expanded]="element === expandedElement"
             [class.app-table-cell-details-non-expanded]="element !== expandedElement"
             [class.app-table-cell-hover]="element === hoveredElement"
             [class.app-table-cell-non-hover]="element !== hoveredElement"
             (mouseover)="onMouseOver(element)"
             (mouseleave)="onMouseLeave(element)"
             (click)="onToggleExpand(element)"
             [style.grid-column]="expandedRowStyle"
             *ngIf="hasExpandedRow">
            <ng-container *ngIf="hasExpandedRow">
                <ng-content *ngTemplateOutlet="getExpandedRowTemplate();  context: {element: element}"></ng-content>
            </ng-container>
        </div>
    </ng-container>
</div>
