:host ::ng-deep .mat-card-content {
  margin-bottom: 0;
}

.info-table {
  margin-top: 20px;
}

.info-table-row {
  vertical-align: center;
  height: 40px;
}

.info-table-column-label {
  padding-right: 40px;
}
