@import "../../../../front/src/main/web/src/css/variables";

:host ::ng-deep .mat-card-content {
    margin-bottom: 0;
}

.info-table{
    margin-top: 20px
}

.info-table-row {
    vertical-align: center;
}

.info-table-column-label {
    padding-right: 20px;
}

.status-warning {
    color: mat-color($color-warning);
}

.status-error {
    color: mat-color($color-error);
}

.status-healthy {
    color: green;
}

.status-progress {
    width: 24px;
    font-size: 24px;
}
