<app-card [title]="repository.name"
          [headerClassIcon]="repository?.type | repositoryIcon"
          [maxSizePx]="500">
    <app-card-content>
        <table class="info-table">
            <tr class="info-table-row">
                <td class="info-table-column-label">
                    {{'ADMIN.REPOSITORIES.VIEW_CARD.STATUS_LABEL' | translate}}
                </td>
                <td>
                    <span [ngClass]="statusIconClass"><b>{{statusLabelKey | translate}}</b></span>
                </td>
            </tr>

            <tr class="info-table-row">
                <td class="info-table-column-label">
                    {{'ADMIN.REPOSITORIES.VIEW_CARD.ACCESS_LABEL' | translate}}
                </td>
                <td>
                    <span [innerHTML]="'ADMIN.REPOSITORIES.VIEW_CARD.ACCESS_ALLOWED' | translate: {displayName:currentUser?.displayName} | safe: 'html'"
                          *ngIf="hasAccess"></span>
                    <span [innerHTML]="'ADMIN.REPOSITORIES.VIEW_CARD.ACCESS_FORBIDDEN' | translate: {displayName:currentUser?.displayName} | safe: 'html'"
                          *ngIf="!hasAccess"></span>
                </td>
            </tr>
            <tr class="info-table-row">
                <td class="info-table-column-label">
                    {{'ADMIN.REPOSITORIES.VIEW_CARD.WORKSPACE_LABEL' | translate}}
                </td>
                <td>
                    <span [innerHTML]="'ADMIN.REPOSITORIES.VIEW_CARD.WORKSPACES_READY' | translate: {number:numberReadyWorkspaces}" *ngIf="numberReadyWorkspaces > 0"></span>
                    <span [innerHTML]="'ADMIN.REPOSITORIES.VIEW_CARD.WORKSPACES_NOT_READY' | translate" *ngIf="numberReadyWorkspaces == 0"></span>
                </td>
            </tr>
            <tr class="info-table-row">
                <td class="info-table-column-label">
                    {{'ADMIN.REPOSITORIES.VIEW_CARD.DEFAULT_WORKSPACE_LABEL' | translate}}
                </td>
                <td>
                    <span [innerHTML]="'ADMIN.REPOSITORIES.VIEW_CARD.STATUS_DEFAULT' | translate: {name:defaultWorkspace?.branch, numberBundleKeys:defaultWorkspace?.numberBundleKeys}" *ngIf="defaultWorkspace"></span>
                    <span [innerHTML]="'ADMIN.REPOSITORIES.VIEW_CARD.STATUS_DEFAULT_EMPTY' | translate" *ngIf="!defaultWorkspace"></span>
                </td>
            </tr>
            <tr class="info-table-row">
                <td class="info-table-column-label">
                    {{'ADMIN.REPOSITORIES.VIEW_CARD.PUBLISH_LABEL' | translate}}
                </td>
                <td>
                    <span [innerHTML]="'ADMIN.REPOSITORIES.VIEW_CARD.PUBLISH_ENABLED' | translate" *ngIf="numberDirtyWorkspaces > 0"></span>
                    <span [innerHTML]="'ADMIN.REPOSITORIES.VIEW_CARD.PUBLISH_DISABLED' | translate" *ngIf="numberDirtyWorkspaces == 0"></span>
                </td>
            </tr>
        </table>
    </app-card-content>
    <app-card-actions>
        <app-publish-button [disabled]="numberDirtyWorkspaces == 0" (publish)="onPublish()"></app-publish-button>
        <app-form-open-tab-button (open)="onOpen()"></app-form-open-tab-button>
    </app-card-actions>
</app-card>
