<app-card [title]="repository.name"
          [headerClassIcon]="repository?.type | repositoryIcon"
          [maxSizePx]="350">
    <app-card-content>
        <table style="margin-top: 20px">
            <tr style="vertical-align: center;">
                <td style="padding-right: 20px">
                    Status:
                </td>
                <td [ngSwitch]="repository.status" class="">
                    <div *ngSwitchCase="repositoryStatus.NOT_INITIALIZED">
                        <mat-icon style="color: darkorange">warning</mat-icon>
                    </div>
                    <div *ngSwitchCase="repositoryStatus.INITIALIZING">
                        <mat-spinner></mat-spinner>
                    </div>
                    <div *ngSwitchCase="repositoryStatus.INITIALIZED">
                        <mat-icon style="color: green">check_circle_outline</mat-icon>
                    </div>
                </td>
            </tr>
        </table>
    </app-card-content>
    <app-card-actions>
        <app-form-open-tab-button (open)="onOpen()"></app-form-open-tab-button>
        <app-form-sync-button></app-form-sync-button>
        <app-form-delete-button></app-form-delete-button>
    </app-card-actions>
</app-card>
