<h1 mat-dialog-title>{{'TRANSLATIONS.START_REVIEW.TITLE' | translate}}</h1>
<form [formGroup]="form" (ngSubmit)="submit()">
    <div mat-dialog-content>
        <p>{{'TRANSLATIONS.START_REVIEW.COMMENT' | translate}}</p>
        <mat-form-field formControlName="comment" ngDefaultControl>
            <input matInput cdkFocusInitial>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button type="button" (click)="onCancel()">{{'SHARED.CANCEL_ACTION' | translate}}</button>
        <button mat-button type="submit" (click)="submit()" [disabled]="!form.valid"><i class="fas fa-play"></i> {{'TRANSLATIONS.START_REVIEW.START_ACTION' | translate}}</button>
    </div>
</form>
