@import "z-index";

:host ::ng-deep .app-table {
  width: 70%;
  margin: auto;
}

:host ::ng-deep mat-card {
  height: 80%;
}

.app-snapshot-loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-color: #fff;
  z-index: $app-top-z-index;

  * {
    position: absolute;
    color: White;
    top: 50%;
    left: 50%;
  }
}

.app-snapshot-header {
  min-width: 600px;
  width: 70%;
  margin: auto auto 20px;

  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.app-snapshot-header * {
  height: 100%;
}
