<h1>GitHub POC</h1>

<!--<div sec:authorize="isAuthenticated()">-->
<!--    This content is only shown to authenticated users.-->
<!--</div>-->
<!--<div sec:authorize="hasRole('ROLE_ADMIN')">-->
<!--    This content is only shown to administrators.-->
<!--</div>-->
<!--<div sec:authorize="hasRole('ROLE_USER')">-->
<!--    This content is only shown to users.-->
<!--</div>-->


<!--Logged user: <span sec:authentication="name">Bob</span>-->
<!--Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>-->

<!--<div sec:authorize="!isAuthenticated()">-->
<!--    <a href="/auth">Authenticate</a>-->
<!--</div>-->
<!---->
<!--<div sec:authorize="isAuthenticated() && hasRole('ROLE_USER')">-->
<!--    Logged user: <span sec:authentication="name">Bob</span>-->
<!--</div>-->

<!--Welcome, <span th:text="${#authentication}">Name</span>-->

