.header-app-name {
  margin-left: 8px;
}

.header-spacer {
  flex: 1 1 auto;
}

.header-user-name {
  font-size: 15px;
}

.header-drop-down {
  padding-left: 5px;
}

.header-profile-img {
  margin-right: 5px;
  vertical-align: middle;
  width: 30px;
  height: 30px;
}
