<mat-toolbar color="primary">
  <button mat-icon-button (click)="onToggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <h1 class="header-app-name">I18n Tool</h1>

  <span class="header-spacer"></span>

  <div *ngIf="currentUser != null">
    <button id="currentUserButtonAction" mat-button [matMenuTriggerFor]="loginMenu">
      <img [src]="avatarUrl" class="img-rounded header-profile-img" alt="{{ userDisplayName }}" />

      <span class="header-user-name" *ngIf="!(smallSize | async )">{{ userDisplayName }}</span>
      <span class="fas fa-caret-down header-drop-down"></span>
    </button>

    <mat-menu #loginMenu="matMenu">
      <button mat-menu-item>
        <a routerLink="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
