<app-tabs #tabs>
    <app-tab [title]="'ADMIN.REPOSITORIES.TAB_LABEL' | translate" [matIcon]="'view_module'">
        <app-repository-list (open)="onOpen($event)">
        </app-repository-list>
    </app-tab>

    <app-tab
            [title]="repository.name"
            [iconClass]="repository.type | repositoryIcon"
            [closeable]="true"
            (close)="onClose(repository)"
            *ngFor="let repository of openedRepositories"
    >
        <app-repository-details [repository]="repository"></app-repository-details>
    </app-tab>
</app-tabs>

