.status-icon {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -40px !important;
}

.vertical-center {
    margin-top: auto;
    margin-bottom: auto;
}

.full-height {
    height: 100%;
}

.button {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px !important;
}