<mat-card class="card">
    <mat-card-header>
        <mat-card-title><i class="fas fa-hdd"></i> {{"SHARED.REPOSITORY_TITLE" | translate}}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="full-height">
        <div class="full-height status-icon">
            <i class="fas fa-times-circle fa-10x vertical-center" style="color: red"
               *ngIf="repository.isNotInitialized()"></i>

            <i class="fas fa-check fa-10x vertical-center" style="color: green" *ngIf="repository.isInitialized()"></i>

            <i class="fa fa-spinner fa-pulse fa-3x fa-fw fa-10x vertical-center" style="color: darkorange"
               *ngIf="repository.isInitializing()"></i>
        </div>
        <button id="button"
                mat-flat-button
                color="primary"
                (click)="initialize()"
                class="button"
                *hasRole="['ADMIN', 'MEMBER_OF_REPOSITORY']; additionalCondition: repository.isNotInitialized()">
            <i class="fas fa-play"></i> Initialize
        </button>
    </mat-card-content>
</mat-card>
