.mat-chip {
    justify-content: space-between;
}

.workspaces-list {
    width: 100%;
}

.app-workspace-selector-icon {
    top: 1px;
}

.app-workspace-selector-icon, .app-workspace-selector-all-icon {
    margin-right: 5px;
    position: relative;
}

.app-workspace-selector-all-icon {
    top: 2px;
}
