<h1 mat-dialog-title>Start a review</h1>
<form [formGroup]="form" (ngSubmit)="submit()">
    <div mat-dialog-content>
        <p>Comment</p>
        <mat-form-field formControlName="comment" ngDefaultControl>
            <input matInput cdkFocusInitial>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button type="button" (click)="onCancel()">Cancel</button>
        <button mat-button type="submit" (click)="submit()" [disabled]="!form.valid">Start</button>
    </div>
</form>
