@import '~@angular/material/theming';

.repository-type-card {
  width: 200px;
  height: 200px;
}

.repository-type-icon {
  font-size: 90px;
  text-align: center
}

.repository-type-action {
  text-align: center;
}



