<app-card [maxSizePx]="350" [title]="'Configuration'" [headerMatIcon]="'settings'">
    <app-card-content>
        <form [formGroup]="form" (ngSubmit)="onSave()" autocomplete="off">
            <div [ngSwitch]="repository.type">
                <ng-template [ngSwitchCase]="RepositoryType.GIT">
                    <p>
                        <mat-form-field appearance="standard">
                            <mat-label>{{'ADMIN.REPOSITORIES.CONFIG_CARD.NAME_LABEL' | translate}}</mat-label>
                            <input matInput formControlName="name" autocomplete="off">
                            <mat-hint>{{'ADMIN.REPOSITORIES.CONFIG_CARD.NAME_HINT' | translate}}</mat-hint>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="standard">
                            <mat-label>{{'ADMIN.REPOSITORIES.CONFIG_CARD.LOCATION_LABEL' | translate}}</mat-label>
                            <input matInput formControlName="location" autocomplete="off">
                            <mat-hint>{{'ADMIN.REPOSITORIES.CONFIG_CARD.LOCATION_HINT' | translate}}</mat-hint>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="standard">
                            <mat-label>{{'ADMIN.REPOSITORIES.CONFIG_CARD.DEFAULT_BRANCH_LABEL' | translate}}</mat-label>
                            <input matInput formControlName="defaultBranch" autocomplete="off">
                            <mat-hint>{{'ADMIN.REPOSITORIES.CONFIG_CARD.DEFAULT_BRANCH_HINT' | translate}}</mat-hint>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="standard">
                            <mat-label>{{'ADMIN.REPOSITORIES.CONFIG_CARD.ALLOWED_BRANCHES_LABEL' | translate}}</mat-label>
                            <input matInput formControlName="allowedBranches" autocomplete="off">
                            <mat-hint>{{'ADMIN.REPOSITORIES.CONFIG_CARD.ALLOWED_BRANCHESHINT' | translate}}</mat-hint>
                        </mat-form-field>
                    </p>
                </ng-template>
                <ng-template [ngSwitchCase]="RepositoryType.GITHUB">
                    <p>
                        <mat-form-field appearance="standard">
                            <mat-label>{{'ADMIN.REPOSITORIES.CONFIG_CARD.NAME_LABEL' | translate}}</mat-label>
                            <input matInput formControlName="name" autocomplete="off">
                            <mat-hint>{{'ADMIN.REPOSITORIES.CONFIG_CARD.NAME_HINT' | translate}}</mat-hint>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="standard">
                            <mat-label>{{'ADMIN.REPOSITORIES.CONFIG_CARD.DEFAULT_BRANCH_LABEL' | translate}}</mat-label>
                            <input matInput formControlName="defaultBranch" autocomplete="off">
                            <mat-hint>{{'ADMIN.REPOSITORIES.CONFIG_CARD.DEFAULT_BRANCH_HINT' | translate}}</mat-hint>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="standard">
                            <mat-label>{{'ADMIN.REPOSITORIES.CONFIG_CARD.ALLOWED_BRANCHES_LABEL' | translate}}</mat-label>
                            <input matInput formControlName="allowedBranches" autocomplete="off">
                            <mat-hint>{{'ADMIN.REPOSITORIES.CONFIG_CARD.ALLOWED_BRANCHES_HINT' | translate}}</mat-hint>
                        </mat-form-field>
                    </p>
                </ng-template>
            </div>
        </form>
    </app-card-content>
    <app-card-actions>
        <app-form-cancel-button [form]="form" [cancelInProgress]="cancelInProgress" [disabled]="actionInProgress" (reset)="onCancel()" ></app-form-cancel-button>
        <app-form-delete-button [deleteInProgress]="deleteInProgress" [disabled]="!deleteAllowed || actionInProgress" (delete)="onDelete()"></app-form-delete-button>
        <app-form-save-button [form]="form" [saveInProgress]="saveInProgress" [disabled]="actionInProgress" (save)="onSave()"></app-form-save-button>
    </app-card-actions>
</app-card>
