<mat-card class="container">
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSave()" autocomplete="off">
            <div fxLayout fxLayoutAlign="start start" fxLayoutGap="30px">
                <div class="security-icon">
                    <mat-icon>security</mat-icon>
                </div>
                <div>
                    <p>
                        <mat-form-field appearance="standard">
                            <mat-label>{{'ACCOUNT.SECURITY.CURRENT_PASSWORD' | translate}}</mat-label>
                            <input matInput formControlName="currentPassword" type="password" autocomplete="current-password">
                            <mat-hint>{{'ACCOUNT.SECURITY.CURRENT_PASSWORD_HINT' | translate}}</mat-hint>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="standard">
                            <mat-label>{{'ACCOUNT.SECURITY.NEW_PASSWORD' | translate}}</mat-label>
                            <input matInput formControlName="newPassword" type="password" autocomplete="new-password">
                            <mat-hint>{{'ACCOUNT.SECURITY.NEW_PASSWORD_HINT' | translate}}</mat-hint>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="standard">
                            <mat-label>{{'ACCOUNT.SECURITY.CONFIRMED_PASSWORD' | translate}}</mat-label>
                            <input matInput formControlName="confirmedPassword" type="password" autocomplete="new-password">
                            <mat-hint>{{'ACCOUNT.SECURITY.CONFIRMED_PASSWORD_HINT' | translate}}</mat-hint>
                        </mat-form-field>
                    </p>
                </div>
            </div>
        </form>
    </mat-card-content>
    <mat-card-actions [align]="'end'">
        <app-form-cancel-button [form]="form" [cancelInProgress]="loading" (reset)="resetForm()"></app-form-cancel-button>
        <app-form-save-button [form]="form" [saveInProgress]="loading" (save)="onSave()"></app-form-save-button>
    </mat-card-actions>
</mat-card>
