@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~flag-icon-css/css/flag-icon.min.css";
@import './assets/fonts/app-icons.css';

body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    height: 100vh;
}

.version-info {
    font-size: 8pt;
    float: right;
}

.icon-workspace-in-review {
    color: orange;
}

.icon-workspace-not-initialized {
    color: lightgrey;
}

.icon-workspace-initialized {
    color: green;
}
