.app-dictionary-tool-text-field {
  width: 270px;
  height: 90px;
  margin-bottom: 30px;
}

.app-dictionary-tool-locale-field {
  margin: 0;
  width: 100%;
}

.app-dictionary-tool-separator {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);

  margin: 40px 0;
}