<div class="app-repository-add-step-creation-content">
    <div class="creation-container" *ngIf="creationInProgress">
        <mat-spinner></mat-spinner>
    </div>

    <div class="successful-container" *ngIf="repository">
        <div class="successful-container-child">
            <div class="container-item">
                <mat-icon style="color: green; font-size: 150px; width: 150px">check_circle</mat-icon>
            </div>
            <div class="container-item">
                <p>{{ 'ADMIN.REPOSITORIES.ADD_WIZARD.STEP_CREATION.CREATED' | translate: {name: repository?.name} }}</p>
                <p>{{ 'ADMIN.REPOSITORIES.ADD_WIZARD.STEP_CREATION.CREATED_NEXT' | translate }}</p>
            </div>
        </div>
    </div>

    <app-error-display
            [unidentifiedErrorLabel]="'ADMIN.REPOSITORIES.ADD_WIZARD.STEP_CREATION.UNKNOWN_ERROR' | translate"
            [identifiedErrorLabel]="'ADMIN.REPOSITORIES.ADD_WIZARD.STEP_CREATION.ERROR_TITLE' | translate"
            [error]="error">
    </app-error-display>
</div>
