@import "../../../../front/src/main/web/src/css/variables";

.app-row-actions {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 3px;

  .app-row-actions-items {
    opacity: 0;
    transition:visibility 0.3s linear,opacity 0.3s linear;
  }
}

.app-row-actions:hover {
  background-color: mat-color($color-hover);

  .app-row-actions-items {
    opacity: 100%;
  }
}

.app-row-actions-element {
  display: inline-block;
  float: left;
}

.app-row-actions-items {
  display: inline-block;
  float: right;
  vertical-align: middle;
  margin-right: 7px;

  //TODO
  margin-top: 12px;
}
