<app-card-grid [allowAdd]="false">
    <app-card-grid-item>
        <mat-card>
            <mat-card-title>
                Workspaces {{repository.name}}
            </mat-card-title>
            <mat-card-content>
                <p>fsfsfsd</p>
                <p>fsfsfsd</p>
                <p>fsfsfsd</p>
                <p>fsfsfsd</p>
                <p>fsfsfsd</p>
            </mat-card-content>
        </mat-card>
    </app-card-grid-item>
    <app-card-grid-item>
        <mat-card>
            <mat-card-title>
                Configuration
            </mat-card-title>
            <mat-card-content>
                <p>fsfsfsd</p>
                <p>fsfsfsd</p>
                <p>fsfsfsd</p>
                <p>fsfsfsd</p>
                <p>fsfsfsd</p>
            </mat-card-content>
        </mat-card>
    </app-card-grid-item>
</app-card-grid>
