<div class="app-translations-toolbar">
    <div class="app-translations-toolbar-left">
        <app-backward-button (click)="onPreviousPage()"></app-backward-button>
    </div>
    <div class="app-translations-toolbar-action">
        <app-generic-button
                [color]="'primary'"
                [icon]="'auto_stories'"
                [label]="translateButtonLabelKey | translate: {text: translateButtonText}"
                (click)="onTranslate()"
        >
        </app-generic-button>
    </div>
    <div class="app-translations-toolbar-action app-translations-toolbar-unsaved">
        <app-unsaved-label *ngIf="state.unsavedChanges | async"></app-unsaved-label>
    </div>
    <div class="app-translations-toolbar-right">
        <app-forward-button (click)="onNextPage()"></app-forward-button>
    </div>
</div>
